@{
    ViewBag.Title = Resources.PageResetPasswordConfirmationTitle;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.ResetPasswordConfirmationCaption

        @Resources.PleaseClickHere @Html.ActionLink(Resources.ToLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
